/***************************************************************************/

body {
    background-color: rgb(255, 255, 255);
}

h1, h2, h3, h4, p {
    color: #777;
}

header {
    margin-top: 20px;
}

main h2 {
    margin-top: 15px;
}

main .row {
    margin-top: 20px;
}

#video {
    border: 5px solid #0d6efd;
    border-radius: 7px;
}

#canvas {
    border: 5px solid #0d6efd;
    border-radius: 7px;
    display: none;
}

main .botoes {
    margin-top: 20px;
}

#linkDownload {
    margin-left: 5px;
    display: none;
} 

footer {
    margin-top: 20px; 
    
}

footer .contato h4{
    font-size: 18px; 
    
}

footer .contato p{
    font-size: 14px; 
    
}

footer>.copyright p  {
    font-size: 12px;    
}

footer .copyright {
    margin-top: 10px;	
}





